@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.121);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'ubuntu', 'sans-serif';
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background: rgb(104, 211, 38);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: rgb(104, 211, 38);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: rgb(14, 30, 248);
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
   display: block;
   color: #fff; 
   font-size: 18px;
   font-weight: 500;
   margin-left: 25px;
   transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:rgb(104, 211, 38);
}
.navbar.sticky .menu li a:hover {
    color: rgb(14, 30, 248);
} 

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;  
}
.menu-btn:hover {
    color: rgb(14, 30, 248);
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(113, 255, 47);
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 54px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn:hover {    
    background-color: rgb(14, 30, 248);
    color: #fff;
}
.scroll-up-btn.show {
    bottom: 80px;
    opacity: 1;
    pointer-events: auto;
}

/* all similar styling code ---- códigos similar*/
section {
    padding: 100px 0;
}
.project footer, .project .card, footer {
    font-family: 'Poppins', sans-serif;
}
.project .proj-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{        
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(72, 201, 65);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* Projects section styling --- (Projetos) */

.project {    
    color: #fff;
    background: #111;
}
.project .title::before {
    background: #fff;
}
.project .title::after {
    background: #111;
    content: "clique e veja";
}
.project .proj-content .card {    
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all 0.3s ease;    
}
.project .proj-content .card:hover {
    background: rgb(72, 201, 65);
}
.project .proj-content .card .box {
    transition: all 0.3s ease;
}
.project .proj-content.card:hover .box {
    transform: scale(1.05);
}
.project .proj-content .card ion-icon {
    font-size: 40px;
    color: rgb(72, 201, 65);
    transition: color 0.3s ease;
}
.project .proj-content .card:hover ion-icon {
    font-size: 50px;
    color: #111;
    transition: all 0.3s ease;
}
.project .proj-content .card .text {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.project .proj-content .card p {
    color: rgb(82, 82, 86);
}




/* footer sectoin styling */

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: right;    
}
footer span a {    
    color: rgb(72, 201, 65);
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}
footer .redes a {
    font-size: 25px;    
    padding: 0 10px;   
    color: #fff;
    float: left;
    cursor: pointer;
    transition: color 0.3s ease;
}
footer .redes a:hover {    
    color: rgba(84, 220, 72, 0.997); 
}

/*responsivo media query start*/

@media (max-width: 1300px) {
.home .max-width {
    margin-left: 0px;
} 
}

@media(max-width: 991px) {
.max-width {
    padding: 0 50px;
} 
}

@media(max-width: 947px){
.max-width {
    padding: 0 50px;
}    
.menu-btn {
    display: block;
    z-index: 999;
}
.menu-btn i.active::before{
    content: "\f00d";
}
.navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
}
.navbar .menu.active{
    left: 0;
}
.navbar .menu li{
    display: block;
}
.navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}
.max-width {
    max-width: 800px;
}
.project .proj-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-top: 1px;
}
}


@media(max-width: 691px) {

.project .proj-content .card{
    width: 100%;
}
}

@media(max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;    
    }
    }

@media(max-width: 451px) {
.project .title::after {
    margin-bottom: -35px;
    
}
.project .title::before {
    margin-bottom: -35px;
    
}
}
@media(max-width: 331px) {
.project .title::after {
    margin-bottom: -35px;
    
}
.project .title::before {
    margin-bottom: -20px;
    
}
}




